.container {
  background-color: lightgray;
  height: 50vh;
  width: 50vw;
  margin-left: 200px;
  margin-top: 100px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.card {
  height: 300px;
  width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.red-button {
  background-color: red;

  border-radius: 100px;
}
.blue-button {
  background-color: blue;

  border-radius: 100px;
}
.change-button {
  background-color: green;
  border-color: green;
  border-radius: 8px;
  padding: 5px;
  margin-left: 400px;
  margin-top: 50px;
}
